@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 0px;
}

html, body, #root {
  height: auto;
  /* overflow: hidden; */
}

.custom-toast {
  background-color: #9A2B2E !important; /* Your custom bg */
  color: #FCFAF9 !important;            /* Light text */
  font-family: 'Work Sans', sans-serif !important;
  font-size: 1rem;
  border-radius: 8px;
}

/* Browser input auto-fill color */
input:-webkit-autofill {
  background-color: #FFF2E9 !important;
  color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #000 !important;
  font-family: 'Work Sans', sans-serif !important;
}